{{ $currentLang := .Site.Language.Lang }}
<nav class="menu" aria-label="menu">
    <ul class="menu__items" aria-label="menu">
        {{ $current := . }}
        {{ range .Site.Menus.main }}
        <li class="menu__items__item" aria-label="{{ .Name }}">
            <a href="{{ .URL }}" class="menu__items__item__link {{ if $current.IsMenuCurrent "main" . }}active{{ end }}"
                alt="{{ .Name }}" role="menuitem">
                {{ .Name }}
            </a>
        </li>
        {{ end }}

        {{ range .Translations }}
        <li class="menu__items__item" aria-label="language">
            {{ if not (eq $currentLang .Language.Lang) }}
            <a href="{{ .Permalink }}" class="menu__items__item__link" alt="language" role="menuitem">{{ or .Language.LanguageName .Language.Lang }}</a>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</nav>