/* Banner */

#banner {
    background-color: hsl(0, 0%, 100%);
    color: #f2a3a5;
    padding: 150px 0 30px 0;
    background-image: url("../../images/P1000780-2000.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 40% left;
    max-width: 2000px;
    text-align: left;
    position: relative;
    z-index: 1;
}


    #banner strong, #banner b {
        color: #ffffff;
    }

    #banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
        color: #fff;
        margin: 0.1em 0 0.1em 0;
    }


    #banner .inner {
        max-width: 65em;
        width: calc(100% - 6em);
        margin: 0 auto;
        position: relative;
        z-index: 999;
        line-height: 1.5;
    }

        @media screen and (max-width: 480px) {

            #banner .inner {
                max-width: 90%;
                width: 90%;
            }

        }

    #banner h1 {
        font-size: 2em;
        padding: 0;
        letter-spacing: 3px;
        font-weight: 700;
    }

        #banner h1 span {
            font-weight: 400;
        }


    @media screen and (max-width: 450px) {

            #banner {
                padding: 100px 0 30px 0;
            }
    
    }
    
    @media screen and (min-width: 980px) {

        #banner {
            padding: 300px 0 30px 0;
        }

    }

    @media screen and (min-width: 1100px) {

        #banner {
            padding: 400px 0 30px 0;
        }

    }    

/*

    @media screen and (max-width: 1680px) {

        #banner {
            padding: 10em 0 8em 0;
        }

    }

    @media screen and (max-width: 1280px) {

        #banner {
            padding: 8em 0 6em 0;
        }

    }

    @media screen and (max-width: 980px) {

        #banner {
            padding: 12em 0 10em 0;
        }

            #banner br {
                display: none;
            }

    }

    @media screen and (max-width: 736px) {

        #banner {
            padding: 4em 0 2em 0;
        }

            #banner h1 {
                font-size: 1.75em;
            }

    }

    @media screen and (max-width: 480px) {

        #banner {
            padding: 5em 0 3em 0;
        }

            #banner ul {
                margin-top: 1em;
            }

    }


*/


.floating-btn{border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;position:fixed;
    bottom:63px;
    right:15px;
    height:50px;
    width:50px;
    z-index:99999999;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 2px 5px 0 rgba(0,0,0,0.12),0 3px 2px 1px rgba(0,0,0,0.2);
    -webit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 2px 5px 0 rgba(0,0,0,0.12),0 3px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 2px 5px 0 rgba(0,0,0,0.12),0 3px 2px 1px rgba(0,0,0,0.2);z-index:99
}

.round-btn-img{margin:12px;width:25px;height:auto}


.contact-icons{width:50px!important;height:50px!important;margin-top: 5px}

.whatsapp-section2{position:fixed;right:15px;bottom:118px;z-index:9999999;}

.imageastep {
    width: 40px;
    vertical-align:baseline;
    float: left;
    margin-bottom: 0px;
}


.floating-btn {
	display: none;
	visibility: hidden;

}

@media only screen and (max-width: 768px) {

    .floating-btn {
        display: block;
        visibility: visible;
    }
}

@media only screen and (min-width: 768px) {

    .floating-btn {
        display: none;
        visibility: hidden;
    }
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.youtubevideowrap, #disqus_thread, .videocontent {
    width: 100%;
    max-width: 640px;
}