RewriteEngine On

# Forcer HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


# Forcer www
RewriteCond %{HTTP_HOST} ^marion-immo\.lu [NC]
RewriteRule ^(.*)$ https://www.marion-immo.lu/$1 [L,R=301]