{{ define "main" }}
<!-- Banner -->
<section id="banner">
	<div class="inner">
		{{ $currentLang := .Site.Language.Lang }}
		{{ if eq $currentLang "en" }}
			<h1>Marion Boudier</h1>
			<h2>Your real estate agent</h2>
		{{ else }}
			<h1>Marion Boudier</h1>
			<h2>Votre agent Immobilier</h2>
		{{ end }}
	</div>
</section>
<main class="content">

    

	{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "posts") }}

	{{ range $paginator.Pages }}
	{{ .Render "card" }} 
	{{ end }}
</main>
{{ end }}
